body{
    margin: 0;
    width: 1600px;
}

header{
    font-family: Bodoni URW;
    height: 95px;
    background-color: #b2b8b5;
}
.header_topic ul{
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
    /* margin: 0 auto; */
    list-style: none;
    padding-left: 0;
    line-height: 95px;
    /* position: relative; */
    float: left;
    margin: 0 243px;
}
.header_topic li{
    letter-spacing: 0.2em;
    font-size: 15px;
}
#LAMINA{
    font-size: 36px;
    font-weight: 700;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}