body{
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}


.header_container{
    min-width: 750px;
    margin: 0 auto;
}
.header_title h1{
    text-align: center;
    font-family: Quicksand, "Noto Sans Japanese", sans-serif;;
    font-size: 33px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 50px;
    margin-bottom: 53px;
}
.header_container ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.header_container li{
    margin: 0 27px;
}
.header_title span{
    color: #9acc1e;
}
.header_nav li{
    font-size: 14px;
    line-height: 26px;
    color: #0d0015;
}


main{
    min-width: 750px;
}
.containers{
    display: flex;
    margin: 0 8%;
}
.main_container{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 10%;
    /* justify-content: space-evenly; */
}
.blog{
    min-height: 250px;
    width: 46%;
    box-shadow: 0px 0px 1px grey;
    margin-right: 3%;
    position: relative;
    margin-bottom: 2.4%;
    transition: all 0.5s;
}
.blog:hover{
    transform: translate(0px, -5px);
    transition: all 0.5s;
    box-shadow: 0px 0px 10px grey;
}
.blog img{
    width: 100%;
}
.blog_text{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    font-family: "Noto Sans Japanese", sans-serif;;
    font-size: 18px;
    line-height: 26px;
    color: #0d0015;
    letter-spacing: 1px;
    margin-bottom: 48px;
}
.blog_text2{
    font-size: 12px;
    font-family: Quicksand, "Noto Sans Japanese", sans-serif;
    letter-spacing: 1px;
    text-align: end;
    position: absolute;
    right: 15px;
    bottom: 0px;
}
.jin_design{
    position: absolute;
    background-color: rgb(22, 180, 22);
    border-radius: 20px;
    font-size: 10px;
    padding: 5px 13px;
    margin-left: 3%;
    color: white;    
}
.page{
    display: flex;
    margin: 4% auto;
    padding-right: 5%;
}
.page_number1, .page_number2{
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 35px;
}
.page_number1{
    background-color: black;
    margin-right: 10px;
}
.page_number2{
    background-color: white;
    box-shadow: 0px 0px 2px grey;
}
.page_number1 p, .page_number2 p{
    text-align: center;
    transform: translate(1px, -9px);
}
.page_number1 p{
    color: white;
}
.page_number2 p{
    color: gray;
}


/* ---------------------------------------------------------------------------------- */
.side_container{
    width: 30%;
}
/* --------------------------------- */

.block1, .block2, .block3, .block4, .block5, .block6, .block7{
    box-shadow: 0px 0px 5px grey;
    margin-bottom: 9%;
    padding: 9% 0;
}
.block1_container, .block4_container, .block5_container, .block6_container, .block7_container{
    width: 90%;
    margin: auto;
}
.block3_container_p, .block4_container p, .tag p, .search p, .recommend p{
    border-bottom: 3px solid black;
    margin-top: 0;
}
/* --------------------------------- */
.block1{
    padding: 0;
}
.block1_container{
    padding-bottom: 1%;
}
.block1_title{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 6.8%;
    padding: 3.5%;
    letter-spacing: 3px;
}
.block1_img_wrap{
    text-align: center;
    margin-top: 20px;
}
.block1 img{
    width: 100%;
}
.block1_text{
    font-size: 14px;
    font-family: "Noto Sans Japanese", sans-serif;;
    color: gray;
    
}
.block1_btn{
    width: 90%;
    margin: 20px auto;
    background-color: crimson;
    border: white 3px double;
    border-radius: 30px;
    border: double 3px white;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.block1_btn a{
    color: white;
}
/* --------------------------------- */
.block2{
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 7%;
}
.block2_p1{
    margin: 0;
}
.block2_p2{
    margin-top: 0;
    font-size: 12px;
}
.block2_p3{
    font-size: 14px;
    width: 80%;
    margin: auto;
    margin-top: 25px;
    text-align: start;
    line-height: 20px;
}
.block2 img{
    border-radius: 50%;
    width: 32%;
    margin-top: 2%;
    box-shadow: 0px 0px 3px gray;
}
.block2_btn{
    width: 40%;
    margin: 25px auto;
    border-radius: 35px;
    background-color: gray;
    height: 30px;
    line-height: 30px;
}
.block2_btn a{
    color: white;
    font-size: 14px;
}
.block2_btn2{
    background-color: #9acc1e;
}
.block2_btn2 p{
    color: white;
    padding-top: 15px;
    font-size: 15px;
    margin: 0;
}
.marks{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.marks p{
    font-family: "Font Awesome 5 Brands";
    background-color: rgba(178, 236, 70, 0.288);
    width: 35px;
    height: 20px;
    margin: 5px 3px;
}
.marks a{
    color: white;
}
.fab{
    transform: translate(0px, -8px);
    font-size: 20px;
}
/* --------------------------------- */
.block3{
    padding-top: 7%;
}
.block3_container{
    width: 85%;
    margin: auto;
}
.block3_container_p{
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.block3_post{
    display: flex;
    position: relative;
}
.block3_post img{
    width: 33%;
    position: absolute;
    margin-top: 3%;
}
.block3_post p{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    margin-left: 37%;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* --------------------------------- */
.block4{
    padding-top: 6%;
    padding-left: 7px;
    letter-spacing: 2px;
}
select{
    width: 100%;
    background-color: rgb(199, 195, 195);
    border: none;
    color: gray;
    height: 30px;
}
/* --------------------------------- */
.tag_title{
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 1px;
    margin-left: 5%;
    margin-right: 5%;
}
.tag_title p{
    font-size: 5px;
    margin-right: 1%;
    padding-right: 5px;
    background-color: rgb(204, 201, 201);
}
.tag_title i{
    padding-right: 5px;
}
/* --------------------------------- */
.submit{
    width: 100%;
    border-radius: 30px;
    text-align: end;
    height: 30px;
}
.search_mark{
    /* font-size: 20px; */
    color: gray;
}

/* --------------------------------- */
.block7{
    padding-top: 5%;
    padding-left: 2%;
}
.block7_topic{
    display: flex;
}
.block7_img{
    margin-top: auto;
    margin-bottom: auto;
}
.block7 img{
    width: 90%;
}
.block7_topic p{
    font-size: 14px;
    line-height: 18px;
}
/* --------------------------------- */
footer{
    background-color: rgb(56, 56, 56);
    color: white;
}
.footer_contain{
    margin: -5% 5% 0 5%;
}
.container1{
    width: 30%;
}
.container1_1{
    margin: 10% 0 30% 0;
    padding-left: 10%;
    padding-right: 5%;
}
.container1_1 h2{
    text-align: center;
    font-size: 70px;
    margin: 0;
}
.footer_tag p{
    background-color: slategrey;
}
.footer_tag a{
    color: white;
}

.container1_2{
    margin-top: -10%;
    margin-left: 10%;
}

.container2, .container3{
    margin: 1.5% 5% 0 0;
    padding-left: 2%;
    width: 10%;
}
.container2 p, .container3 p{
    font-size: 5px;
}

.container4 h3{
    /* margin-bottom: 0; */
}
.footer_post{
    margin-bottom: 4%;
    display: flex;
}
.footer_post img{
    width: 30%;
}
.footer_post p{
    font-size: 15px;
    padding-left: 5%;
}

.container4{
    width: 35%;
    margin: 1.5% 1%;
}
.copy{
    border-top: 1px solid white;
    margin-top: 4%;
}
.copy p{
    text-align: center;
    font-size: 80%;
    padding-bottom: 1%;
}